@model OktaJS_SDK.Models.GetInfoResponse

@{
    ViewBag.Title = "UnProtected";
}

    <div style="display:inline; margin:10px; padding:10px;">
        <span id="session"></span>
        <span id="my_session_id"></span>
    </div>
    <br />


<div id="signin-box" class="rounded-6 sign-in-content">

    <h1>Unprotected Landing</h1>

</div>











