
@{
    ViewBag.Title = "Custom - Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content" class="clearfix">
    <div><a href="#" id="startcontent" class="skiplink"></a></div>
    <div id="help-doc" class="x-login-help">
        <div class="instructions padding-0">
            <div>
                <a style="margin:20px;float:left;" href="/Home/Index">←  Back to Sign-In Page</a>
            </div>
            <h1>Sign-In Help</h1>
        </div>

        <h2>Quick Links</h2>

        <div class="highlight-section toc">
            <h3 style="margin:0px;">Contact Us</h3>
            <h3 style="margin:0px;">New User Instructions</h3>
            <h3 style="margin:0px;">Frequently Asked Questions</h3>
            <ul class="bullets">
                <li><a href="#forgot-user">What should I do if I forget my username?</a></li>
                <li><a href="#forgot-psw">What should I do if I forget my password?</a></li>
                <li><a href="#sign-in-fail">What should I do if I receive a "Sign in Failed" error message?</a></li>
                <li><a href="#define-google-auth">What is Google Authenticator?</a></li>
                <li><a href="#get-google-auth">How do I get Google Authenticator?</a></li>
                <li><a href="#define-okta-verify">What is Okta Verify</a></li>
                <li><a href="#get-okta-verify">How do I get Okta Verify?</a></li>
            </ul>
            <br />
            <h2>Contact Us</h2>
            <dl class="faq clearfix">
                <dd>Contact the  Service Desk at </dd>
                <dd>Standard Hours: 7:00am - 7:00pm PST Monday through Friday</dd>
            </dl>
            <br />
            <h2>New User Instructions</h2>
            <ol class="bullets">
                <li>New Users will receive an email with their sign-in credentials.</li>
                <li>Open a web browser and enter https://login.corp.com</li>
                <li>Enter your username and password, and then select <b>Sign-in</b></li>
                <li>Enroll in one of the following multi-factor options by following the prompts on the screen:</li>
            </ol>
            <ul class="bullets" style="padding-left:10px">
                <li>OktaVerify</li>
                <li>GoogleAuth</li>
                <li>SMS</li>
            </ul>
            <br />
            <h2>Frequently Asked Questions</h2>
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="forgot-user" id="forgot-user">What should I do if I forget my username?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Please call the  Service Desk at  for any additional assistance.</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="forgot-psw" id="forgot-psw">What should I do if I forget my password?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Select the “Forgot Password?” link on the Sign in Page and enter your username in the Forgot Password window.  Select whether to receive your password via text message or email and follow the additional prompts on screen for text message or in the email you receive. If you require additional assistance please call the  Service Desk at .</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="sign-in-fail" id="sign-in-fail">What should I do if I receive a "Sign in Failed" error message?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>If you see the error message “Sign in failed!” your username and password do not match those specified for your profile, or you do not have access permission. If you have reset your password and are still unable to sign on please call the  Service Desk at .</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="define-google-auth" id="define-google-auth">What is Google Authenticator?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Google Authenticator supports multifactor authentication and is used to generate codes needed to sign-in at https://login.corp.com.</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="get-google-auth" id="get-google-auth">How do I get Google Authenticator?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Search for “Google Authenticator” in the App, Play or Windows Store on your mobile device to download and install Google Authenticator; Instructions for configuring Google Authenticator will be provided in on-screen prompts.  If you require additional assistance please call the  Service Desk at .</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="define-okta-verify" id="define-okta-verify">What is Okta Verify</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Okta Verify supports multifactor authentication and is used to generate codes needed to sign-in at https://login.corp.com.</dd>
            </dl>
            <br />
            <dl class="faq clearfix">
                <dt>
                    Q:
                </dt>
                <dd class="question">
                    <p name="get-okta-verify" id="get-okta-verify">How do I get Okta Verify?</p>
                </dd>
                <dt>
                    A:
                </dt>
                <dd>Search for “Okta Verify” in the App, Play or Windows Store on your mobile device to download and install Okta Verify; Instructions for configuring Okta Verify will be provided in on-screen prompts.  If you require additional assistance please call the  Service Desk at .</dd>
            </dl>



        </div>


    </div>

</div>